$color-gray:#333333;
$color-dark-blue:#2b4163;
$color-light-blue:#3a87ad;
$color-red:#cc0000;
$color-yellow:#fab20b;
$color-green:#559821;
$color-light-green:#80cc28;
$color-veal:#e2e2f2;
$color-white:#fff;
$login-brown:rgb(228, 207, 168);

