// .description {
//     text-align: center;
//     &__main{
//         display:block;
//     }

//     &__sub{
//         display:block;
//     }
// }

.unit {
    padding:2rem;
    &-text{
        text-align: center;
        &__main{
            display:block;
        }   

        &__sub{
            display:block;
        }
    }

    &__image{
        width:50%;
        max-height: 132px;
    }

}

